<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">A community coffee house and cultural epicenter, manned by super fun volunteers</p>

                <h3>Find us near the Frassati Chapel on Downer</h3></br>

                <a href="https://coradcor.substack.com/p/welcome-to-via-your-catholic-coffee" class="btn btn-default btn-xl">Read about us!</a>
            </div>
        </div>
    </div>
</section>
