<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">You are welcome here</h1>
                <hr class="light">
                <p class="text-faded">This is your spot, a community coffee house and cultural epicenter, with volunteer baristas & free events. 
                    Bring a friend or drop in alone!</p>

                <h3>Find us on the top floor of the Newman Center on Downer & Linnwood - Saturdays only!</h3></br>

                <a href="https://coradcor.substack.com/p/welcome-to-via-your-catholic-coffee" class="btn btn-default btn-xl">Read about us!</a>
            </div>
        </div>
    </div>
</section>
