<section id="map">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Find Us</h2>
                <hr class="primary">
            </div>

            <div class="col-lg-3 align-self-center">
                <h2>Hours</h2>
                <p >
                    Saturday 09:30am - 2:00pm
                </p>
            </div>

            <div class="col-lg-9 text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2914.500479599549!2d-87.88047228413362!3d43.0729723977726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880518cbde1ce8f3%3A0x1379f600bb1a0ec0!2sNewman%20Center%20At%20Uw%20Milwaukee!5e0!3m2!1sen!2sus!4v1619472991370!5m2!1sen!2sus" width="80%" height="700vh" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
            </div>
            




            <!-- <div class="text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2914.500479599549!2d-87.88047228413362!3d43.0729723977726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880518cbde1ce8f3%3A0x1379f600bb1a0ec0!2sNewman%20Center%20At%20Uw%20Milwaukee!5e0!3m2!1sen!2sus!4v1619472991370!5m2!1sen!2sus" width="80%" height="700vh" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
            </div> -->
        </div>

    </div>
</section>
