<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.brewcitycatholic.com/cor-jesu.html" class="portfolio-box">
                    <img src="img/portfolio/str1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Prayer
                            </div>
                            <div class="project-name">
                                Cor Jesu
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/r01.jpg" class="img-responsive" alt="" height="50px">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Community
                            </div>
                            <div class="project-name">
                                Milwaukee
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://files.mkecatholic.com/index.php/apps/forms/rSnwnM5mC4woGEmC" class="portfolio-box">
                    <img src="img/portfolio/r02.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Service
                            </div>
                            <div class="project-name">
                                Volunteer with Via
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.strobert.org/parish/" class="portfolio-box">
                    <img src="img/portfolio/str2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Community
                            </div>
                            <div class="project-name">
                                St. Robert Parish
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/r04.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Coffee
                            </div>
                            <div class="project-name">
                                Brewed by Brett Pevia
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/cro.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Learning
                            </div>
                            <div class="project-name">
                                Join us at 10:30 on Saturday!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
